<head>
    <title>Nodejs</title>
    <link rel="stylesheet" href="../main.css">
</head>
<body style="padding: 0px; margin: 0px;">
    <div class="hoznav">
        <ul>
            <li><a style="background-color: var(--nord11)" href="../index.html">Home</a></li>
            <li><a style="background-color: var(--nord14)" href="nodejs.html">Nodejs</a></li>
            <li><a style="background-color: var(--nord13)">Python</a></li>
            <li><a style="background-color: var(--nord8)">Go</a></li>
        </ul>
    </div>
    <div class="vertnav">
        <ul>
            <li><a style="background-color: var(--nord11)">Home</a></li>
            <li><a style="background-color: var(--nord14)">Nodejs</a></li>
            <li><a style="background-color: var(--nord13)">Python</a></li>
            <li><a style="background-color: var(--nord8)">Go</a></li>
        </ul>
    </div>
</body>